@import "tailwindcss";
 @theme{
     --color-font-light: #CBD5E1;
     --color-font: #64748B;
     --font-outfit: "Outfit", sans-serif;
     --breakpoint-sm:580px;
     --breakpoint-xs:450px;
 }

 .spinner{
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7c3aed;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

.active{
        background-color: #EFF6FF;
        border-right: 6px solid #3B82F6;
}